body {
  background: url('img/fon.jpg') ;
  text-align: center;
}
p{
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color:  rgb(39, 61, 70);;
    text-transform: uppercase;
    overflow: 0.6;
    line-height: 40px;
    letter-spacing: 2.8px;    
    margin: 20vh 0vh;
}
table {
	margin:0 auto;
	background-color: #E0E0E0;
}


